﻿<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>{{book.title}}</h2>          
            <b>Tittel:</b> {{book.title}} <br />
            <b>Forfatter:</b> {{book.author}} <br />
            <b>Pris (NOK):</b> {{book.price}},- <br />
            <b>Sjanger:</b> {{book.genre}} <br />
            <b>Rangering (1-6):</b> 
            <span class="glyphicon glyphicon-star" ng-show="book.ranking >= 1"></span>
            <span class="glyphicon glyphicon-star" ng-show="book.ranking >= 2"></span>
            <span class="glyphicon glyphicon-star" ng-show="book.ranking >= 3"></span>
            <span class="glyphicon glyphicon-star" ng-show="book.ranking >= 4"></span>
            <span class="glyphicon glyphicon-star" ng-show="book.ranking >= 5"></span>
            <span class="glyphicon glyphicon-star" ng-show="book.ranking >= 6"></span>
             <br />
            <b>ISBN:</b> {{book.isbn}} <br /><br />
            <p>Hvis du ønsker å leie denne boken, skriv inn ditt navn under og trykk "Lån".</p>
            <form name="form">
                <div class="form-group">
                    <label for="isbn">Låntakers navn</label>
                    <input type="text" class="form-control" ng-model="borrower" required>
                </div>
                <button class="btn btn-success" ng-click="rentBook(book.isbn, borrower)" ng-disabled="book.isBorrowed || form.$invalid">{{book.isBorrowed | availableButtonText}}</button>
            </form>
        </div>      
    </div>
</div>



