﻿<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Høyest rangerte bøker</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rangering (1-6)</th>
                        <th>Tittel</th>
                        <th>Forfatter</th>
                        <th>Sjanger</th>
                        <th>Utlånsstatus</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="book in books | orderBy: '-ranking'" class="book-{{book.isbn}}" id="book-{{book.isbn}}">
                        <td>
                            <span class="glyphicon glyphicon-star" ng-show="book.ranking >= 1"></span>
                            <span class="glyphicon glyphicon-star" ng-show="book.ranking >= 2"></span>
                            <span class="glyphicon glyphicon-star" ng-show="book.ranking >= 3"></span>
                            <span class="glyphicon glyphicon-star" ng-show="book.ranking >= 4"></span>
                            <span class="glyphicon glyphicon-star" ng-show="book.ranking >= 5"></span>
                            <span class="glyphicon glyphicon-star" ng-show="book.ranking >= 6"></span>
                        </td>
                        <td>{{book.title}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.genre}}</td>
                        <td class="{{book.isBorrowed | availability}}">{{book.isBorrowed | availableText}}</td>
                        <td><a href="#books/{{book.isbn}}">Detaljer</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
