﻿<!DOCTYPE html>
<html ng-app="eBookApp">
<head>
    <title>eBok</title>
    <!-- CSS -->
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link href="../Content/toastr.css" rel="stylesheet" />
    <link href="../Content/Site.css" rel="stylesheet" />
    <!-- Angular references -->
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular-route.js"></script>
    <script src="../Scripts/angular-resource.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
    <!-- Firebase simple login -->
    <script src="https://cdn.firebase.com/js/simple-login/1.6.4/firebase-simple-login.js"></script>
    <!-- JS libraries -->
    <script src="../Scripts/jquery-1.9.0.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <script src="../Scripts/toastr.js"></script>
    <!-- app references -->
    <script src="app.js"></script>
    <script src="services/booksService.js"></script>
    <script src="services/searchService.js"></script>
    <script src="services/userService.js"></script>
    <script src="controllers/controllers.js"></script>
    <script src="filters/filters.js"></script>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/home">eBok</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#/register">Registrer bok</a></li>
                    <li><a href="#/books">Høyest rangerte bøker</a></li>
                    <li><a href="#/search">Søk</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-controller="LoginCtrl">
                    <li><a href="#" ng-click="logout()" ng-show="isLoggedIn">Logg ut ({{displayName}})</a></li>
                    <li class="dropdown" ng-hide="isLoggedIn">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logg inn <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#" ng-click="login('facebook')">Facebook</a></li>
                            <li><a href="#" ng-click="login('google')">Google</a></li>
                            <li><a href="#" ng-click="login('twitter')">Twitter</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div ng-view></div>
</body>
</html>
